.uol-page {
  padding-bottom:50px;
  background-color:#f6f6f6
 }
 div:not(.uol-section) + .uol-section,
 section:not(.uol-section) + .uol-section:not(.uol-section--media):not(.uol-section--primary) {
  margin-top: 50px
 }
 .uol-section {
  margin-bottom:50px
 }
 .uol-section[data-type] {
  display:none
 }
 .uol-section[data-type] .grid {
  grid-auto-flow: row;
 }
 .uol-input-wrapper {
  position: relative;
 }
 .uol-input-wrapper::after {
  content:'\f078';
  display:block;
  position: absolute;
  right: 10px;
  top:50%;
  transform:translateY(-50%);
  font-family: FontAwesome;
 }
 .uol-input-cnt {
  display:block;
  margin-bottom:30px
 }
 .uol-input-cnt:last-child {
  margin-right:0
 }
 .uol-section--primary {
  padding:50px 0;
  background-color:#002147
 }
 .uol-section--primary .uol-h1,
 .uol-section--primary .uol-h2,
 .uol-section--primary .uol-label,
 .uol-section--primary .uol-t1 {
  color:#fff
 }
 .uol-section--media {
  padding:50px 0;
  position:relative;
  overflow:hidden
 }
 .uol-section--media::after {
  content:"";
  display:block;
  width:100%;
  height:100%;
  position:absolute;
  z-index:0;
  top:0;
  left:0;
  background-color:rgba(0,33,71,.7)
 }
 .uol-video--bg {
  position:absolute;
  max-height:100%;
  height:100%;
  width:100%;
  top:0;
  left:0;
  object-fit:cover;
  object-position:center bottom
 }
 .IE .uol-billboard_img {
  min-height:none;
  max-height:none
 }
 .IE select.uol-input::-ms-expand {
  display:none
 }
 .IE .tile {
  display:inline-block;
  margin-right:30px;
  vertical-align:middle
 }
 .IE .tile:last-child {
  margin-right:0
 }
 .IE .uol-section--media {
  max-height:516px;
  overflow:hidden
 }
 .IE .uol-video--bg {
  margin:auto;
  top:-9999px;
  left:-9999px;
  bottom:-9999px;
  right:-9999px;
  width:2000px;
  height:2000px;
  max-height:none
 }
 .uol-standfirst {
  font-size:18px;
  line-height:24px;
  max-width:35em;
  margin-bottom:24px
 }
 .uol-body,
 .uol-body p {
  font-size:16px;
  line-height:24px;
  max-width:45em;
 }
 .uol-body,
 .uol-body p,
 .uol-standfirst {
  color:#666
 }
 .text-center .uol-body,
 .text-center .uol-standfirst {
  margin:0 auto 24px
 }
 .uol-body p {
  margin-bottom:24px;
  max-width:45em
 }
 .uol-body p:last-child:not(:only-child) {
  margin-bottom:0
 }
 .uol-section--media .wrapper {
  position:relative;
  z-index:1
 }
 .uol-section--media .uol-h2,
 .uol-section--primary .uol-h2 {
  color:#fff
 }
 .uol-section--media .uol-body strong,
 .uol-section--primary .uol-body strong {
  color:#f6f6f6
 }
 .uol-section--media .uol-standfirst,
 .uol-section--primary .uol-standfirst {
  color:#f6f6f6
 }
 .uol-section--media .uol-body,
 .uol-section--media .uol-body p,
 .uol-section--primary .uol-body,
 .uol-section--primary .uol-body p {
  color:#dedede
 }
 .p-lr-15 {
  padding:0 15px
 }
 .uol-label {
  display:block;
  font-size:18px;
  line-height:24px;
  font-family:Verdana,serif;
  margin:0 0 10px
 }
 .visually-hidden {
  width:0;
  height:0;
  clip:rect(0,0,0,0);
  visibility:hidden;
  opacity:0;
  position:absolute;
  left:-9999px;
  top:-9999px
 }
 .uol-input {
  width:100%;
  max-width:100%;
  font-size:16px;
  line-height:20px;
  font-family:Verdana,sans-serif;
  border:1px solid #ccc;
  background-color:#ffffff;
  border-radius:3px;
  color:#333;
  padding:8px 10px;
  pointer-events:all;
  position:relative;
  height:38px;
  box-sizing:border-box;
  display:inline-block
 }
 .uol-h1 {
  font-size: 32px;
  line-height: 36px;
  font-family:Georgia,"Times New Roman",Times,serif;
  font-weight:400;
  margin-bottom:12px
 }
 .uol-h2 {
  font-size:28px;
  line-height:32px;
  font-family:Georgia,"Times New Roman",Times,serif;
  font-weight:400;
  margin:0 0 12px
 }
 .uol-h3 {
  font-size:24px;
  line-height:28px;
  font-family:Georgia,"Times New Roman",Times,serif;
  font-weight:400;
  margin:0 0 12px
 }
 .uol-h1,
 .uol-h2,
 .uol-h3 {
  color:#333
 }
 .uol-h2:only-child {
  margin-bottom:24px
 }
 .uol-t1 {
  font-size:18px;
  line-height:24px;
  margin-bottom:24px;
  font-family:Verdana,sans-serif
 }
 .uol-h1,
 .uol-t1 {
  margin-top:0
 }
 .grid {
  list-style:none;
  display:grid;
  grid-auto-flow:column;
  grid-template-columns:unset;
  grid-gap:16px;
  padding:0 0 4px;
  scroll-snap-type:y mandatory;
  grid-template-rows:unset;
  scroll-margin-right:45px;
  overflow-x:auto;
  justify-content:start
 }
 .lincoln-on-demand .tile {
  background-color:#fff
 }
 .tile {
  background-color:#f6f6f6;
  width:255px;
  max-width:100%;
  position:relative;
  z-index:0;
  box-shadow:0 2px 4px 0 rgba(0,0,0,.094)
 }
 .tile:nth-last-child(n+4),
 .tile:nth-last-child(n+4)~.tile {
  margin-bottom:30px;
  width:273px
 }
 .tile:nth-last-child(n+5),
 .tile:nth-last-child(n+5)~.tile {
  width:255px
 }
 .video_cnt {
  overflow:hidden;
  max-height:385px;
  padding-bottom:calc((150 / 270) * 100%);
  background-color:#000
 }
 .uol-hero_imgCnt {
  padding-bottom:56.25%
 }
 .uol-billboard_imgCnt,
 .uol-hero_imgCnt,
 .video_cnt {
  position:relative;
  width:100%
 }
 .tile .video_cnt,
 .uol-billboard_imgCnt,
 .uol-hero_imgCnt {
  background-size:cover;
  background-position:center;
  background-repeat:no-repeat
 }
 .tile-half .video_cnt {
  background-size:cover
 }
 .tile {
  cursor:pointer
 }
 [data-videoCategory="live lounge"] .video_cnt {
  background-size:contain
 }
 .uol-billboard,
 .uol-hero {
  display:flex;
  cursor:pointer;
  flex-direction:column;
  align-items:center;
  max-width:100%;
  width:100%;
  margin-bottom:50px
 }
 .uol-billboard--light,
 .uol-hero--light {
  background-color:#fff;
  box-shadow:0 4px 8px rgba(0,0,0,.15)
 }
 a.uol-billboard {
  text-decoration:none
 }
 .uol-billboard_img,
 .uol-hero_img {
  object-fit:cover;
  width:100%
 }
 .uol-billboard_img {
  max-height:260px;
  min-height:260px
 }
 .uol-hero_img {
  max-height:380px;
  min-height:380px
 }
 .uol-billboard_cpy,
 .uol-hero_cpy {
  height:100%;
  width:100%
 }
 .uol-billboard_cpy {
  padding:20px
 }
 .uol-hero_cpy {
  padding:40px 20px
 }
 .uol-billboard_imgCnt:after,
 .uol-hero_imgCnt:after,
 .video_cnt:after {
  content:"";
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(0,33,71,.4);
  z-index:1;
  transition:background-color .3s ease
 }
 .uol-section--primary .video_cnt:after {
  background-color:rgba(255,255%,255%,20%)
 }
 .uol-input-cnt .input-group-btn {
  line-height:1.5
 }
 .uol-input-cnt .btn {
  line-height:20px;
  font-size:14px;
  min-height:20px;
  padding:8px 12px
 }
 .uol-section--intro {
  background-color:initial;
  min-height:500px;
  position:relative;
  background-position:center;
  margin-bottom:100px
 }
 .uol-section--intro::after {
  content:'';
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  z-index:1;
  background-color:rgba(0,33,71,.4)
 }
 .uol-section--intro .wrapper {
  position:relative;
  min-height:500px
 }
 .uol-section--intro .content {
  padding:36px 24px;
  background-color:#002147;
  position:absolute;
  bottom:-50px;
  width:calc(100% - 30px);
  z-index:2;
  left:15px;
  box-shadow:0 4px 8px 0 rgba(0,0,0,.15)
 }
 .uol-section--intro .uol-h1 {
  color:#fff
 }
 .uol-section--intro .uol-label,
 .uol-section--intro .uol-standfirst {
  color:#f6f6f6
 }
 select.uol-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
 }
 @media (min-width:504px) {
  select.uol-input {
   width:100%
  }
  .uol-input {
   width:370px
  }
 }
 @media (min-width:756px) {
  .uol-section--intro .content {
   max-width:570px
  }
  .uol-billboard,
  .uol-hero {
   flex-direction:row-reverse
  }
  .uol-billboard_cpy,
  .uol-hero_cpy {
   padding:0 20px
  }
  .uol-billboard--reverse,
  .uol-hero--reverse {
   flex-direction:row
  }
  .uol-billboard_img {
   min-height:260px
  }
  .uol-hero_img {
   min-height:380px
  }
  .uol-billboard_cpy,
  .uol-billboard_imgCnt,
  .uol-hero_cpy,
  .uol-hero_imgCnt {
   max-width:50%;
   width:50%
  }
  .uol-input-cnt {
   margin-bottom:0;
   margin-right:30px;
   display:inline-block;
   vertical-align: middle;
   width:100%;
   max-width: calc(50% - 30px);
  }
  .clear::after {
   content:"";
   display:table;
   clear:both
  }
  .grid {
   grid-template-columns:1fr 1fr
  }
  .tile {
   max-width:100%
  }
 }
 @media (min-width:1008px) {
  .grid {
   grid-template-columns:repeat(4,min-content)
  }
 }
 @media (min-width:1008px) {
  .tile:nth-last-child(n+5),
  .tile:nth-last-child(n+5)~.tile {
   margin-bottom:30px
  }
  .tile {
   scroll-snap-align:start;
   width:255px
  }
 }
 @media (min-width: 1170px) {
  .uol-hero_imgCnt {
    padding-bottom:28.125%
   }
 }
 .video_img {
  object-fit:contain;
  object-position:center;
  height:100%;
  width:100%;
  display:block
 }
 .video_title {
  margin:0;
  font-size:20px;
  line-height:24px;
  color:#333;
  font-family:Georgia,serif;
  font-weight:400
 }
 .lincoln-on-demand .video_caption {
  box-shadow:none
 }
 .video_caption {
  padding:20px;
  box-shadow:inset 0 0 0 1px #ccc
 }
 .video_cat {
  font-family:Verdana,sans-serif;
  margin:0 0 10px;
  font-weight:700;
  text-transform:uppercase;
  letter-spacing:1.5px;
  font-size:14px;
  line-height:20px;
  color:#666
 }
 .video_btn {
  border:0;
  -moz-appearance:none;
  background:0 0;
  fill:#fff;
  position:absolute;
  z-index:4;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
  width:100%;
  height:100%;
  display:block;
  opacity:1;
  padding:0;
  cursor:pointer;
  background-color:rgba(0,33,71,.4);
  transition:opacity .3s ease
 }
 .tile:hover .video_cnt:after,
 .tile a:focus .video_cnt:after,
 .uol-billboard:hover .uol-billboard_imgCnt:after,
 .uol-billboard:focus .uol-billboard_imgCnt:after,
 .uol-hero:hover .uol-hero_imgCnt:after,
 .uol-hero:focus .uol-hero_imgCnt:after {
  background-color:rgba(0,33,71,.1);
  transition:background-color .6s ease
 }
 .uol-billboard .btn-primary,
 .uol-hero .btn-primary {
  transition:background-color .6s ease
 }
 .uol-hero:focus .btn-primary,
 .uol-hero:hover .btn-primary,
 .uol-billboard:focus .btn-primary,
 .uol-billboard:hover .btn-primary {
  color:#fff;
  background-color:#286090;
  border-color:#204d74;
  transition:background-color .6s ease
 }
 .tile:hover .video_btn,
 .uol-hero:hover .video_btn {
  -webkit-backface-visibility:hidden;
  backface-visibility:hidden;
  opacity:0;
  background-color:transparent;
  transition:opacity .3s ease,background-color .3s ease
 }
 .video_iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  z-index:4
 }
 .wrapper {
  max-width:1170px;
  margin-left:auto;
  margin-right:auto;
  padding:0 15px
 }
 .center {
  text-align:center
 }
 .uol-button {
  display:inline-block;
  margin-bottom:0;
  font-weight:400;
  text-align:center;
  vertical-align:middle;
  touch-action:manipulation;
  text-decoration:none;
  font-family:Verdana,sans-serif;
  font-weight:700;
  cursor:pointer;
  background-image:none;
  border:1px solid transparent;
  border-top-color:transparent;
  border-right-color:transparent;
  border-bottom-color:transparent;
  border-left-color:transparent;
  white-space:nowrap;
  padding:6px 12px;
  font-size:14px;
  line-height:1.428571429;
  border-radius:4px;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none
 }
 .uol-button--primary {
  background-color:#002147;
  color:#fff
 }
 #videoCardModal .modal-body {
  height:280px
 }
 #videoCardModal .modal-header::after,
 #videoCardModal .modal-header::before {
  display:none
 }
 #videoCardModal .modal-header {
  padding:16px
 }
 #videoCardModal button.close {
  margin:-2px -16px auto -16px;
  padding:16px;
  font-size:24px;
  line-height:1
 }
 #videoCardModal .modal-header {
  display:flex;
  flex-direction:row;
  justify-content:space-between;
  align-items:center
 }
 #videoCardModal button.close>span {
  font-size:24px;
  line-height:1
 }
 #videoCardModal .modal-title {
  font-size:20px;
  line-height:1.5;
  font-family:Georgia,serif
 }
 .playing .play {
  display:none
 }
 .playing .circle {
  animation:1.4s ease-in-out infinite both spinner;
  stroke-dasharray:175.929;
  stroke-dashoffset:175.929;
  transform-origin:50% 50%
 }
 .playing svg {
  opacity:initial;
  animation:2s linear infinite svg-spin
 }
 @keyframes svg-spin {
  0% {
   transform:rotateZ(0)
  }
  100% {
   transform:rotateZ(360deg)
  }
 }
 @keyframes spinner {
  0% {
   stroke-dashoffset:175.929;
   transform:rotate(0)
  }
  50% {
   stroke-dashoffset:75;
   transform:rotate(45deg)
  }
  100% {
   stroke-dasharray:175.929;
   transform:rotate(360deg)
  }
 }
 [data-live^=scheduled] .video-indicator_text,
 [data-live^=scheduled] .video_cat {
  color:#047e8b
 }
 [data-live^=live] .video-indicator_text,
 [data-live^=live] .video_cat {
  color:#a94442
 }
 [data-live^=live] .inner-circle {
  animation:live 1.7s cubic-bezier(.25,.1,.25,1) infinite
 }
 @keyframes live {
  0% {
   opacity:1
  }
  50% {
   opacity:.3
  }
  100% {
   opacity:1
  }
 }
 .video-indicator_text {
  height:20px;
  display:inline-block;
  vertical-align:middle;
  color:#666
 }
 #lodPreviousLivestream .uol-hero_cpy .video_cat {
  height:20px
 }
 .video-indicator svg {
  display:inline-block;
  vertical-align:middle;
  margin-right:8px
 }
 .video-indicator {
  display:inline-block;
  height:20px;
  vertical-align:middle;
  margin-right:12px;
  width:auto
 }
 .slick-slider.grid .tile {
  display:block;
  width:253px
 }
 .slick-slider.grid {
  display:block;
  list-style:none;
  max-width:1140px;
  padding:0 40px
 }
 .slick-slider .tile {
  margin-right:16px
 }
 .slick-prev {
  left:0
 }
 .slick-next {
  right:0
 }
 .slick-next:before,
 .slick-prev:before {
  color:#002147
 }
 
 .grid-wrap {
   grid-template-columns: repeat(auto-fill, minmax(280px,1fr));
   grid-auto-flow: row;
   overflow: visible;
 }
 .grid-wrap .tile {
   width: 100%!important;
   margin-bottom: 0!important;
 }
 .grid-wrap .tile .btn-primary {
   transition: background-color .6s ease, border-color .6s ease;
 }
 .grid-wrap .tile a {
   display: block;
 }
 .tile:hover .btn-primary,
 .tile a:focus .btn-primary {
  background-color:#286090;
  border-color:#204d74;
  transition:background-color .6s ease
 }
 .uol-section--intro {
   background-repeat: no-repeat;
   background-size: cover;
 }
