<header>
	<div class="nav" role="navigation">
	<div class="container">
		<div class="row">
			<div class="no-gutters col-xs-6 col-sm-6 col-sm-push-3 col-xs-push-3 col-md-push-0 col-md-3 ">
				<div class="logo"><a href="/home/" aria-label="/home/"><img src="/media/images/logo.png" alt="University of Lincoln Logo" style=" "></a></div>
                          	<!-- navigation object : Responsive 2017 - Site Search Mobile --><div class="collapse navbar-collapse hidden-sm hidden-md hidden-lg mobile-search-navbar" id="search">
	<form class="mobile_search" role="search" action="/home/search/" method="GET">
		<label for="mobile_search_box" class="sr-only">Mobile Search</label>
		<input type="text" class="form-control" placeholder="Search..." name="searchQuery" id="mobile_search_box">
		<span class="input-group-btn">
			<button class="btn btn-info" type="submit">Search</button>
		</span>
	</form>
</div>
			</div>
			<div class="no-gutters navbar navbar-default col-xs-3 col-sm-3 col-md-7 col-md-pull-0 col-sm-pull-6 col-xs-pull-6">
				<nav>
					<button type="button" class="navbar-toggle main-menu-toggle collapsed" data-toggle="collapse" data-target="#main-navbar" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<ul id="main-navbar" class="no-gutters main-nav nav navbar-nav navbar-collapse collapse">
                                          	<!-- navigation object : Responsive 2017 - Mega Menu --><li><a href="/home/researchatlincoln/" class="sliding-middle-out">Research</a><em class="glyphicon glyphicon-menu-down"></em>
<div class="mega-me"><div class="container"><ul>
	<li class="menu-heading"><a href="/home/researchatlincoln/" class="pre-duplicate">Research</a>
  	<ul>
		  <li><a href="/home/researchatlincoln/">Showcase</a></li>		  
		  <li><a href="/home/researchatlincoln/researchenvironment/">Research Environment</a></li>		  
		  <li><a href="/home/researchatlincoln/institutescentresandgroups/">Centres</a></li>		  
		  <li><a href="/home/researchatlincoln/researchethicsandintegrity/">Ethics and Integrity</a></li>		  
		  <li><a href="https://21stcenturylab.lincoln.ac.uk">21st Century Lab</a></li>		  
		  <li><a href="/home/researchatlincoln/casestudies/">Case Studies</a></li>		  
		  		  
		  		  
		  	  
		  		  
		  		  
		  
  	</ul>
  </li>
</ul><ul>
	<li class="menu-heading"><a href="" class="duplicate"><span style="visibility:hidden" ;="">Research</span></a>
  	<ul>
		  <li><a href="/home/studywithus/postgraduatestudy/postgraduateresearch/">Student Research</a></li>		  
		  <li><a href="/home/studywithus/postgraduatestudy/researchstudentships/">Research Studentships</a></li>		  
		  <li><a href="/home/researchatlincoln/publicengagement/">Public Engagement</a></li>		  
		  <li><a href="/home/alumnicommunity/supporttheuniversity/">Support Our Research</a></li>		  
		  		  
		  		  
		  		  
		  		  
		  	  
		  		  
		  		  
		  
  	</ul>
  </li>
</ul></div></div>
</li><li><a href="/home/studywithus/" class="sliding-middle-out">Study with Us</a><em class="glyphicon glyphicon-menu-down"></em>
<div class="mega-me"><div class="container"><ul>
	<li class="menu-heading"><a href="/home/studywithus/">Study with Us</a>
  	<ul>
		  <li><a href="/home/studywithus/chooselincoln/">Choose Lincoln</a></li>		  
		  <li><a href="/home/abouttheuniversity/">About the University</a></li>		  
		  <li><a href="/home/studywithus/opendaysandvisits/">Open Days</a></li>		  
		  <li><a href="/home/prospectus/">Our Prospectus</a></li>		  
		  <li><a href="/home/abouttheuniversity/academiccollegesandschools/">Colleges and Schools</a></li>		  
		  <li><a href="/home/studentlife/thelibrary/">The Library</a></li>		  
		  <li><a href="/home/contactus/">Contact Us</a></li>		  
		  <li><a href="/home/global-opportunities/">Global Opportunities</a></li>		  
		  	  
		  		  
		  		  
		  
  	</ul>
  </li>
</ul><ul>
	<li class="menu-heading"><a href="/home/studywithus/undergraduatestudy/">Undergraduate</a>
  	<ul>
		  <li><a href="/home/studywithus/findacourse/?level=ug">Find a Course</a></li>		  
		  		  
		  <li><a href="/home/studywithus/undergraduatestudy/">Undergraduate Study</a></li>		  
		  <li><a href="/home/studywithus/opendaysandvisits/undergraduateopendays/">Open Days</a></li>		  
		  <li><a href="/home/studywithus/opendaysandvisits/undergraduateopendays/campustours/">Campus Tours</a></li>		  
		  <li><a href="/home/studywithus/undergraduatestudy/feesandfunding/">Fees and Funding</a></li>		  
		  <li><a href="/home/studywithus/scholarshipsandbursaries/">Scholarships and Bursaries</a></li>		  
		  <li><a href="/home/studentlife/accommodation/">Accommodation</a></li>		  
		  <li><a href="/home/studywithus/undergraduatestudy/howtoapply/">How to Apply</a></li>	  
		  <li><a href="/home/studyatlincoln/undergraduate-whatyouneedtoknow/">What You Need to Know</a></li>		  
		  		  
		  
  	</ul>
  </li>
</ul><ul>
	<li class="menu-heading"><a href="/home/studywithus/postgraduatestudy/">Postgraduate</a>
  	<ul>
		  <li><a href="/home/studywithus/findacourse/?level=pg">Find a Course</a></li>		  
		  <li><a href="/home/studywithus/postgraduatestudy/howyoustudy/">How You Study</a></li>		  
		  <li><a href="/home/studywithus/opendaysandvisits/postgraduateevents/">Postgraduate Open Days and Events</a></li>		  
		  <li><a href="/home/studywithus/postgraduatestudy/feesandfunding/">Fees and Funding</a></li>		  
		  <li><a href="/home/studywithus/postgraduatestudy/howtoapply/">How to Apply</a></li>		  
		  <li><a href="/home/studywithus/postgraduatestudy/researchstudentships/">Research Studentships</a></li>		  
		  <li><a href="/home/studywithus/postgraduatestudy/postgraduateresearch/">Postgraduate Research</a></li>		  
		  <li><a href="/home/studyatlincoln/shortstudy/">Short Study Modules</a></li>		  
		  <li><a href="https://online.lincoln.ac.uk/">Online Master's Degrees</a></li>	  
		  <li><a href="/home/studywithus/postgraduatestudy/horizons/">Our Horizons Employability Programme</a></li>		  
		  <li><a href="/home/studyatlincoln/postgraduate-whatyouneedtoknow/">What You Need to Know</a></li>		  
		  
  	</ul>
  </li>
</ul><ul>
	<li class="menu-heading"><a href="/home/studywithus/professionalandwork-basedlearning/">Professional Development</a>
  	<ul>
		  <li><a href="/home/studywithus/shortcoursesandsummerschools/shortcourses/">Short Courses</a></li>		  
		  <li><a href="https://online.lincoln.ac.uk/">Online Master's Degrees</a></li>		  
		  <li><a href="/home/lbs/distancelearning/">Distance Learning</a></li>		  
		  <li><a href="/home/lbs/executivedevelopment/">Executive Development</a></li>		  
		  <li><a href="/home/lbs/militaryprogrammes/">Armed Forces</a></li>		  
		  <li><a href="/home/cpd/">Health and Social Care</a></li>		  
		  <li><a href="/home/holbeach/">Food Manufacturing</a></li>		  
		  <li><a href="/home/liat/">Agriculture</a></li>		  
		  	  
		  		  
		  		  
		  
  	</ul>
  </li>
</ul><ul>
	<li class="menu-heading"><a href="/home/studywithus/internationalstudents/">International Students</a>
  	<ul>
		  <li><a href="/home/studywithus/chooselincoln/">Why Choose Lincoln</a></li>		  
		  <li><a href="/home/studywithus/internationalstudents/entryrequirementsandyourcountry/">Entry Requirements and Your Country </a></li>		  
		  <li><a href="/home/studywithus/internationalstudents/internationalfeesandfunding/">Fees and Scholarships </a></li>		  
		  <li><a href="/home/studywithus/internationalstudents/englishlanguagerequirementsandsupport/pre-sessionalenglishandacademicstudyskills/">Pre-sessional English Courses</a></li>		  
		  <li><a href="/home/studywithus/internationalstudents/englishlanguagerequirementsandsupport/englishlanguagerequirements/">English Language Requirements</a></li>		  
		  <li><a href="/home/studywithus/internationalstudents/howtoapply/">How to Apply</a></li>		  
		  <li><a href="/home/studywithus/internationalstudents/informationforofferholders/">Information for Offer Holders</a></li>		  
		  <li><a href="/home/studywithus/internationalstudents/contactus/">Contact Us</a></li>		  
		  	  
		  		  
		  		  
		  
  	</ul>
  </li>
</ul><ul>
	<li class="menu-heading"><a href="/home/portals/">Information for</a>
  	<ul>
		  <li><a href="/home/portals/parentszone/">Parents</a></li>		  
		  <li><a href="/home/portals/teacherszone/">Teachers</a></li>		  
		  <li><a href="/home/studywithus/applicantsportal/">Applicants</a></li>		  
		  <li><a href="https://gateway.lincoln.ac.uk/">Current Students</a></li>		  
		  <li><a href="/home/abouttheuniversity/teachingandlearning/">Staff</a></li>		  
		  <li><a href="/home/getreadyforlincoln/enrolment/">Enrolment</a></li>		  
		  <li><a href="/home/studentlife/graduation/">Graduating Students</a></li>		  
		  		  
		  	  
		  		  
		  		  
		  
  	</ul>
  </li>
</ul></div></div>
</li><li><a href="/home/studentlife/" class="sliding-middle-out">Student Life</a><em class="glyphicon glyphicon-menu-down"></em>
<div class="mega-me"><div class="container"><ul>
	<li class="menu-heading"><a href="/home/studentlife/">Student Life</a>
  	<ul>
		  		  
		  <li><a href="/home/studentlife/campusandfacilities/">Our Campus</a></li>		  
		  <li><a href="https://www.lincoln.ac.uk/friends">Friends for Life</a></li>		  
		  <li><a href="/home/studentlife/greatlives/">Great Lives</a></li>		  
		  <li><a href="https://studentlife.lincoln.ac.uk/?utm_source=university_website&amp;utm_medium=card&amp;utm_campaign=student_life_blog">Student Life Blog</a></li>		  
		  <li><a href="/home/global-opportunities/">Study Abroad</a></li>		  
		  <li><a href="/home/studentlife/sportatlincoln/">Sport at Lincoln</a></li>		  
		  <li><a href="/home/studentlife/termdates/">Term Dates</a></li>		  
		  <li><a href="/home/studywithus/opendaysandvisits/">Open Days</a></li>	  
		  <li><a href="/home/studentlife/studentsunion/">Students' Union</a></li>		  
		  <li><a href="/home/coronavirus/">Coronavirus Information</a></li>		  
		  
  	</ul>
  </li>
</ul><ul>
	<li class="menu-heading"><a href="/home/studentlife/discoverlincoln/">Discover Lincoln</a>
  	<ul>
		  <li><a href="/home/studentlife/discoverlincoln/topcitysights/">Top City Sights</a></li>		  
		  <li><a href="/home/studentlife/discoverlincoln/discoverlincolnshire/">Discover Lincolnshire</a></li>		  
		  <li><a href="/home/studentlife/maps/">Getting to Lincoln</a></li>		  
		  <li><a href="/home/studentlife/whatson/">What's On?</a></li>		  
		  		  
		  		  
		  		  
		  		  
		  	  
		  		  
		  		  
		  
  	</ul>
  </li>
</ul><ul>
	<li class="menu-heading"><a href="/home/studentlife/accommodation/">Accommodation</a>
  	<ul>
		  <li><a href="/home/studentlife/accommodation/">A Home from Home</a></li>		  
		  <li><a href="/home/studentlife/accommodation/">Accommodation Options</a></li>		  
		  <li><a href="/home/studentlife/accommodation/map/">Accommodation Map</a></li>		  
		  <li><a href="/home/studentlife/accommodation/howtoapply/">How to Apply</a></li>		  
		  		  
		  		  
		  		  
		  		  
		  	  
		  		  
		  		  
		  
  	</ul>
  </li>
</ul><ul>
	<li class="menu-heading"><a href="/home/studentlife/supportivecommunity/">Support</a>
  	<ul>
		  <li><a href="/home/studentlife/supportivecommunity/">Support at Lincoln</a></li>		  
		  <li><a href="/home/studywithus/internationalstudents/internationalsupport/">International</a></li>		  
		  <li><a href="https://learning.lincoln.ac.uk/">Learning at Lincoln</a></li>		  
		  <li><a href="/home/abouttheuniversity/onecommunity/">Equality, Diversity, and Inclusion</a></li>		  
		  <li><a href="/home/studentlife/yourfuturecareer/">Your Future Career</a></li>		  
		  		  
		  		  
		  		  
		  	  
		  		  
		  		  
		  
  	</ul>
  </li>
</ul><ul>
	<li class="menu-heading"><a href="/home/portals/">Information for</a>
  	<ul>
		  <li><a href="/home/portals/parentszone/">Parents</a></li>		  
		  <li><a href="/home/portals/teacherszone/">Teachers</a></li>		  
		  <li><a href="/home/studywithus/applicantsportal/">Applicants</a></li>		  
		  <li><a href="/home/getreadyforlincoln/">New Students</a></li>		  
		  <li><a href="https://gateway.lincoln.ac.uk/">Current Students</a></li>		  
		  <li><a href="/home/studentlife/graduation/">Graduating Students</a></li>		  
		  <li><a href="/home/getreadyforlincoln/enrolment/">Enrolment</a></li>		  
		  		  
		  	  
		  		  
		  		  
		  
  	</ul>
  </li>
</ul></div></div>
</li><li><a href="/home/businessengagement/#" class="sliding-middle-out">Business Engagement</a><em class="glyphicon glyphicon-menu-down"></em>
<div class="mega-me"><div class="container"><ul>
	<li class="menu-heading"><a href="/home/businessengagement/">Business </a>
  	<ul>
		  <li><a href="/home/businessengagement/industrylinks/">Industry Links </a></li>		  
		  <li><a href="/home/businessengagement/academicexpertise/">Consultancy</a></li>		  
		  <li><a href="/home/businessengagement/networkingandevents/">Events </a></li>		  
		  <li><a href="/home/businessengagement/start-ups/">Business Start-up</a></li>		  
		  <li><a href="/home/studywithus/apprenticeships/">Apprenticeships </a></li>		  
		  <li><a href="/home/businessengagement/staffdevelopment/">Staff Development</a></li>		  
		  <li><a href="/home/businessengagement/graduaterecruitment/">Recruitment</a></li>		  
		  <li><a href="/home/businessengagement/meetingsandconferencing/">Hire a Venue</a></li>		  
		  <li><a href="/home/businessengagement/businessfunding/">Access Funding</a></li>	  
		  		  
		  		  
		  
  	</ul>
  </li>
</ul></div></div>
</li><li><a href="/home/alumnicommunity/" class="sliding-middle-out">Alumni</a><em class="glyphicon glyphicon-menu-down"></em>
<div class="mega-me"><div class="container"><ul>
	<li class="menu-heading"><a href="/home/alumnicommunity/">Alumni</a>
  	<ul>
		  <li><a href="/home/alumnicommunity/thealumninetwork/">The Alumni Network</a></li>		  
		  <li><a href="/home/alumnicommunity/benefitsandservices/">Benefits and Services</a></li>		  
		  <li><a href="/home/alumnicommunity/honorarygraduates/">Honorary Graduates</a></li>		  
		  <li><a href="/home/alumnicommunity/events/">Events</a></li>		  
		  <li><a href="/home/alumnicommunity/graduatesuccessstories/">Graduate Success Stories</a></li>		  
		  <li><a href="/home/alumnicommunity/supporttheuniversity/">Support the University</a></li>		  
		  		  
		  		  
		  	  
		  		  
		  		  
		  
  	</ul>
  </li>
</ul></div></div>
</li>
						
					</ul>
				</nav>
			</div>
			<div class="no-gutters col-xs-3 col-sm-3 col-md-2 search-box-col">
				<div class="nav navbar-nav top-links">
					
					<!-- navigation object : Responsive 2017 - Site Search Desktop --><div class="search-form">
  <form action="/home/search/" method="get">
    <label class="sr-only" for="desk-search">Site Search</label>
    <input id="desk-search" type="text" name="searchQuery" placeholder="Search...">
    <button type="submit"><em class="fa fa-search"></em></button>
  </form>
</div>

					
				</div>
				<div class="mobile-search navbar navbar-default">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#search">
								<span class="glyphicon glyphicon-search" aria-hidden="true"><span class="sr-only">Toggle navigation</span></span>
							</button>
				</div>
			</div>
		</div>
	</div>
</div>
</header>